
<ion-content> 
  <div class="padding">   

    <div class="logo">  
      
        <ion-icon color="light"name="people"></ion-icon> 
      
    </div>



    <ion-item> 
      <ion-label color="light"> Email :</ion-label> 
      <ion-input  color="light" placeholder="entre votre email " type="email"></ion-input> 

    </ion-item> 

    <ion-item> 
      <ion-label color="light"> mot de passe :</ion-label> 
      <ion-input  color="light" placeholder="entre votre mot de passe  " type="password"></ion-input> 

    </ion-item> 

    
    <ion-item lines="none"> 
      <ion-button (click)="showCreatePager()"  color="light"slot="end"><h5>creer un nouveau compte ?</h5> </ion-button>
    </ion-item>   
    <ion-button  (click)="showCreatePage()" color="danger" shape="round"expand="block">connexion</ion-button>  
    <br>
    <ion-button shape="round"expand="block">inscription</ion-button>  
    <br>
    <div class="flex">   
      <ion-button shape="round">  
        <ion-icon slot="start"name="logo-facebook"></ion-icon>
        facebok
      </ion-button>  

      <ion-button shape="round">  
        <ion-icon slot="start" name="logo-google"></ion-icon>
        google
      </ion-button>

    </div>


  </div> 












  
</ion-content>
