ion-avatar { 
    height:70px; 
    width: 70px;
} 
h3 { 
    font-weight: 700; 
    font: size 15px;
} 
.flex-box { 
    display: flex; 
    justify-content: space-between;
}  
ion-note { 
    font-size: 13px;
}
.text-icon { 
    font-size: 22px; 
    margin-bottom: -6px;
} 
p { 
    color: rgb(20, 19, 19);
}