<ion-header>
  <ion-toolbar>  
    <ion-buttons slot="start"> 
      <ion-back-button  text=" "></ion-back-button>
   </ion-buttons>
    <ion-title> <h3> Modifier le profil</h3>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    
  <ion-item >
      <ion-avatar slot="start">  
          <img src="../../assets/icon/sheila 2.JPG"> 
      </ion-avatar>   
      <p> 
         <ion-label color="tertiary">  
             <div class="flex-box"> 
             <h3> modifier </h3> 
        </div>  

      </ion-label> 
    </p>
  </ion-item> 

</ion-content>
